.hero-container{
    height: 100vh;
    min-height: 100vh;
}

#background-video{
    position: inherit;
    object-fit: cover;
    z-index: -1;
    width: 2000px;
    height: 900px;
}

.home-page-hero-container{
    display: flex;
    justify-content: center;
}

.home-page-hero{
    top: 30%;
    position: absolute;
    background-color: gainsboro;
    opacity: 55%;
    filter: drop-shadow(8px 11px 25px black);
    max-height: 550px;
    min-height: 550px;
    max-width: 1000px;
    min-width: 1000px;
    border-radius: 15px;
    z-index: 0;
    
}
.hero-text{
    position: absolute;
    top: 42%;
}

.hero-title{ 
    font-size: 5rem;
    line-height: 20vh;
}

.hero-btn-container{
    font-size: 1.5rem;
}

.hero-btn{    
    width: 10vw;
    background-color: #336cc2;
    height: 9vh;
    border-radius: 10px;
    border-color: transparent;
}

.hero-btn:hover{
    background-color: white;
    transition: 0.50s ease-out;
}
