.cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.save-your-spot-btn{
    position: fixed;
    z-index: 2;
    right: 30px;
    bottom: 30px;
}

.doghand{
    margin-top: 10vh;
    align-items: center;
    height: 15vh;
}

.adoptiontitle{
    font-size: 8vh;
    font-weight: bold;
    color: #4cb7f1;
    font-family: emoji;
    margin-bottom: -2vh;
}

.adoptedtop{
height: 40vh;
}

